<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="page-header">
          <h1>Planductor <small>The planning competition platform</small></h1>
        </div>
      </div>
      <div class="panel-body">
        <p>
          Organising planning competitions is hard work - it takes time, coordination and patience. It's difficult enough determining experiments to be used, defining the requirements and organising participants, but the real hard work is when evaluating the planners. This is incredibly strenuous work!
        </p>
        <p>
          This is where Planductor comes in... Planductor makes is simple and easy to create competitions and even easier for participants to register. Once a participant is registered, tasks are automatically created for each experiment in the competition. The tasks are distributed to workers (trusted managed machines) to evaluate planners each experiment. Planductor will be centralised resource for planner results and will provide statistics on a rolling basis.
        </p>
        <p>
          To get started, <%= link_to 'sign up', sign_up_path %>!
        </p>
      </div>
    </div>
  </div>
</div>
