<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Competitions</h1>
      </div>
      <div class="panel-body">
        <div class="panel panel-info">
          <div class="panel-heading">
            <b>Information</b>
          </div>
          <div class="panel-body">
            <p>
              Here is the list of all on-going rolling planning competitions. You will be able to participate in a competition if your planner meets specific requirements.
            </p>
          </div>
        </div>
        <div class="list-group">
          <%= render @competitions %>
        </div>
        <% if current_user and (current_user.organiser or current_user.admin) %>
          <%= link_to 'New Competition', new_competition_path, class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
