<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Hosts</h1>
      </div>
      <div class="panel-body">
        <div class="panel panel-info">
          <div class="panel-heading">
            <b>Remember...</b>
          </div>
          <div class="panel-body">
            <p>
              Only trusted IP addresses added here can be allocated tasks for evaluating planners in competitions!
            </p>
          </div>
        </div>
        <div class="list-group">
          <%= render @hosts %>
        </div>
        <% if allow? "hosts", "new" %>
          <%= link_to 'Add Trusted/Untrusted Host', new_host_path, class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
