<a href="<%= user_path(user) %>" class="list-group-item">
  <h4 class="list-group-item-heading"><%= user.name.capitalize %></h4>
  <p class="list-group-item-text"><%= pluralize user.planners.count, 'planner' %></p>
</a>
