// Place all the styles related to the Domains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.code_block {
    background-color: #F3F3F3;
    border: solid 1px #CCC;
    margin: 10px 10px;
    font-family: 'Menlo', 'Courier New', 'Terminal', monospace;
}

.problem-list {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}
